# editor config
**/.vscode/
.idea/

# dependencies
node_modules/

# generated types
.astro/
.vercel/

# build output
dist/

# tooling / local state
.workbuddy/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# private config
.env
/public/
